<ion-view view-title="" hide-nav-bar="true">
  <ion-content scroll="true">
    <form name="passwordForm" novalidate>
      <div class="signup-container">
        <div class = "col header-pic">
           <img src="./img/stylefnf.png"/>
        </div>

        <div class="minor-padding"></div>
        <div class="text-center assertive">
          Please enter and confirm your new password.
        </div>

        <div class="col input-col">
          <div class="item item-input-inset form-input" ng-class="{ 'error' : passwordForm.password.$dirty && passwordForm.password.$invalid }">
            <label class="item-input-wrapper">
              <input required ng-change="isUpdated()" type="password" id="password" name="password" ng-model="currentUser.password" placeholder="Password" equals="{{currentUser.confirmPassword}}" required>
            </label>
          </div>
        </div>

        <div class="col input-col">
          <div class="item item-input-inset form-input" ng-class="{ 'error' : passwordForm.password.$dirty && passwordForm.password.$invalid }">
            <label class="item-input-wrapper">
              <input required ng-change="isUpdated()" type="password" id="confirmPassword" name="confirmPassword" ng-model="currentUser.confirmPassword" placeholder="Confirm Password" equals="{{currentUser.confirmPassword}}" required>
            </label>
          </div>
        </div>

        <div class="col input-col" style="margin-bottom: 60px;">
          <div class="item item-input-inset form-input">
            <button class="button button-assertive" ng-disabled="!profileIsComplete()" ng-click="updateProfile()">
              Save
              &nbsp;
            </button>
          </div>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>