<ion-view hide-nav-bar="true">
  <ion-content scroll="true">
    <form name="" novalidate>
      <div class="signup-container">
        <div class = "col header-pic">
           <img src="./img/stylefnf.png"/>
        </div>

        <div class="minor-padding"></div>
        <div class="text-center assertive">
          To reset your password, enter the email address you used to sign up.
        </div>
        <div class="col input-col">
          <div class="item item-input-inset form-input" ng-class="{ 'has-error': forgotPasswordForm.email.$invalid && forgotPasswordForm.email.$dirty }">
            <label class="item-input-wrapper">
              <input class="error" type="email" ng-model="forgotPasswordForm.email" placeholder="School Email" required>
            </label>
          </div>
        </div>
        <div class="col input-col" style="margin-bottom: 60px;">
          <div class="item item-input-inset form-input">
            <button class="button button-assertive" ng-disabled="forgotPasswordForm.$invalid" ng-click="sendEmail()">
              Send!
              &nbsp;
            </button>
          </div>
        </div>
      </div>
    </form>
  </ion-content>

  <ion-footer-bar align-title="center" class="authenticationFooter bar-assertive">
    <div class="title">
      <a class="signup-exit-login" href="#/login">
        <span class="signup-exit">Did you remember it?</span>
        Login
      </a>
    </div>
  </ion-footer-bar>
</ion-view>
