<ion-view view-title="">
  <ion-nav-title>
    <div class="row row-center feed-row thin-row delicious-font">
   		<i class="icon ion-chevron-left assertive"  ng-click="goBack()" style="float:left;padding-right:25px;color:#FF2D54"></i> &nbsp; Change Password

      <i class="ion-checkmark" style="position: absolute; right:10px;" ng-click="changePassword()"></i>
    </div>
  </ion-nav-title>

  <ion-content>
    <div class="row">
      <div class="col" style="margin-top:10px">
        <span style="padding-left: 35px;"> New Password </span>
        <div class="item item-input-inset form-input">
          <label class="item-input-wrapper">
            <input type="password" server-error name="password" ng-model = passwordObj.password required>
          </label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <span style="padding-left: 35px;"> Confirm Password</span>
        <div class="item item-input-inset form-input">
          <label class="item-input-wrapper">
            <input type="password" server-error ng-model = confirmPasswordObj.password required>
          </label>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
