<view-title>About Us - Stylefnf</view-title>
<div class="container detail-form pad-top">
  <div class="detail-form panel panel-default">

  	<div class="module-getting-started top">
      <h2>stylefnf About Us</h2>
    </div>

    <div id="" style="background-color:white; padding-top:40px">
	  <div class="container">
	  	<div class="ui six column center aligned relaxed stackable grid container">
	      <div class="row">
	        <h2 class="text-align:center" style="color:#808080; padding-top:20px">About Stylefnf</h2>
	        <br>
	      </div>
	    </div>
	  	<div class="ui stackable justified aligned grid container" style="padding-left:70px; margin-bottom:0px;">
	      <div class="fourteen wide column">
	        <h1 class="ui large header" style="font-size:20px;">
	          Stylefnf is a startup out of the University of Toronto's Hatchery program (a startup incubator). Its founder, <a href="#/profile/56ea480cfc8ee6831c1013d3" style="color:#FF2D54;">Sugata Acharjya</a>, initially started the project at a Hackathon, originally under the name 'Haberdashery.' When he got a lot of positive feedback about his idea he decided to pursue it in order to revolutionize the way students buy and sell things on campus. There is no other system that caters to this need, which is surprising when you consider how many students there are that run into difficulties when obtaining furniture. One of the most important things to us at Stylefnf is trust; this is evident in the fact that everyone on the site requires a university email address to sign up!
	        </h1>
	      </div>
	    </div>

	    <hr>

	    <div class="ui six column center aligned relaxed stackable grid container">
	      <div class="row">
	        <h2 class="text-align:center" style="color:#808080; padding-top:20px">Meet the Team!</h2>
	        <br>
	      </div>
	    </div>
	    <br>
	    <div class="ui three column center aligned relaxed stackable grid container">
	      <div class="row centered">
	        <div class="" style="padding: 2% 3% 2% 3%">
	          <div class="ui link card" style="height: 325px; width: 275px; text-align:center; ">
	            <div class="image">
	              <img src="../../img/sugata.jpg" style="height:270px; width:275px">
	            </div>
	            <div class="content">
	              <div class="header centered"><a>Sugata Acharjya</a></div>
	              <div class="meta centered"><a>Founder/Software Developer</a></div>
	            </div>
	          </div>
	        </div>

	        <div class="" style="padding: 2% 3% 2% 3%">
	          <div class="ui link card" style="height: 325px; width: 275px; text-align:center;">
	            <div class="image">
	              <img src="../../img/tony.jpg" style="height:270px; width:275px">
	            </div>
	            <div class="content">
	              <div class="header centered"><a>Tony Cen</a></div>
	              <div class="meta centered"><a>Software Developer</a></div>
	            </div>
	          </div>
	        </div>

	        <div class="" style="padding: 2% 3% 2% 3%">
	          <div class="ui link card" style="height: 325px; width: 275px; text-align:center;">
	            <div class="image">
	              <img src="../../img/jun.jpg" style="height:270px; width:275px">
	            </div>
	            <div class="content">
	              <div class="header centered"><a>Jun Yue</a></div>
	              <div class="meta centered"><a>Software Developer</a></div>
	            </div>
	          </div>
	        </div>

	        <div class="" style="padding: 2% 3% 2% 3%">
	          <div class="ui link card" style="height: 325px; width: 275px; text-align:center;">
	            <div class="image">
	              <img src="../../img/jonathan.jpg" style="height:270px; width:275px">
	            </div>
	            <div class="content">
	              <div class="header centered"><a>Jonathan Swyers</a></div>
	              <div class="meta centered"><a>Software Developer</a></div>
	            </div>
	          </div>
	        </div>

	        <div class="" style="padding: 2% 3% 2% 3%">
	          <div class="ui link card" style="height: 325px; width: 275px; text-align:center;">
	            <div class="image">
	              <img src="../../img/nirekha.jpg" style="height:270px; width:275px">
	            </div>
	            <div class="content">
	              <div class="header centered"><a>Nirekha Navam</a></div>
	              <div class="meta centered"><a>Marketing</a></div>
	            </div>
	          </div>
	        </div>

	        <div class="" style="padding: 2% 3% 2% 3%">
	          <div class="ui link card" style="height: 325px; width: 275px; text-align:center;">
	            <div class="image">
	              <img src="../../img/mownica.jpg" style="height:270px; width:275px">
	            </div>
	            <div class="content">
	              <div class="header centered"><a>Mownica Anisetti</a></div>
	              <div class="meta centered"><a>Marketing</a></div>
	            </div>
	          </div>
	        </div>

	        <div class="" style="padding: 2% 3% 2% 3%">
	          <div class="ui link card" style="height: 325px; width: 275px; text-align:center">
	            <div class="image">
	              <img src="../../img/arnav.jpg" style="height:270px; width:275px">
	            </div>
	            <div class="content">
	              <div class="header centered"><a>Arnav Goel</a></div>
	              <div class="meta centered"><a>Software Developer</a></div>
	            </div>
	          </div>
	        </div>

	        <div class="" style="padding: 2% 3% 2% 3%">
	          <div class="ui link card" style="height: 325px; width: 275px; text-align:center">
	            <div class="image">
	              <img src="../../img/samuel.jpg" style="height:270px; width:275px">
	            </div>
	            <div class="content">
	              <div class="header centered"><a>Samuel Huang</a></div>
	              <div class="meta centered"><a>Marketing</a></div>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
  </div>
</div>