<div class="brand-container">
    <div class="bg"></div>

    <header>
        <div class="brand-avatar">
            <img src="/img/logo.jpg" alt="lucas-sanchez.jpg">
        </div>
        <div class="brand-title">
            <h1>Society Socks</h1>
        </div>
        <div class="brand-description">
            <!-- <p>Co-founder @ <a href="http://fightanalytics.cc/" title="Brain Over Brawn">Fight Analytics</a>, <a href="http://comixlab.co/" title="Encontre leitores. Descubra quadrinhos.">ComixLab</a> & <a href="http://santins.com.br/" title="Tecnologia a serviço da criatividade">Santins</a>.</p> -->
            <!-- <p>Design | UX | UI | SASS | JS | BJJ | DJ at <a href="http://ceva.club" title="Centro de Eventos de Viamerda">CEVA</a> | <a href="https://www.facebook.com/swpoa/photos/a.743260879066386.1073741825.221597157899430/756469001078907/?type=1" title="No talk, all action!">SWPOA</a> winner.</p> -->
        </div>
        <div class="brand-menu">
            <ul>
                <li>
                    <span>
                        <small>Phone</small>
                        <strong>+55 51 9260 9214</strong>
                    </span>
                </li>
                <li>
                    <span>
                        <small>E-mail</small>
                        <strong>olucassanchez@gmail.com</strong>
                    </span>
                </li>
                <li>
                    <a>
                        <small>Twitter</small>
                        <strong>@lucassanchez</strong>
                    </a>
                </li>
            </ul>
        </div>
    </header>
    
</div>


