<view-title>Email Sent - Stylefnf</view-title>

<div class="container detail-form">

  <div class="detail-form panel panel-default margin-top">

    <div class="module-email top">
      <h2>Thanks for signing up</h2>
    </div>

<!--     <div class="ui stackable center aligned grid container" style="padding-top:40px;padding-bottom:15px;">
      <div class="fourteen wide column">
        <h1 class="ui large header" style="font-size:35px;">
          Check your email to activate your account<i class="smile icon" style="color:#FF2D54"></i>
        </h1>
        <div class="ui stackable center aligned vertically padded grid">
          <div class="nine wide column" style="font-size:15px;">
            <a href="#/" class="ui primary massive button">Take me to the home page</a>
          </div>
        </div>
      </div>
    </div> -->

    <div class="ui stackable center aligned grid container" style="padding-top:40px;padding-bottom:15px;">
      <div class="fourteen wide column">
        <h1 class="ui large header" style="font-size:35px;margin-bottom:45px;">
          Check your email to activate your account<i class="smile icon" style="color:#FF2D54"></i>
        </h1>
        <div class="ui stackable center aligned vertically padded grid">
          <div>
            <img class="ui centered huge image bordered" src="../img/gs/gs-s3.png" data-action="zoom">
          </div>
          <div class="nine wide column" style="font-size:15px;">
            
          </div>
        </div>
      </div>
    </div>

  </div>

</div>