<view-title>FAQs - Stylefnf</view-title>
<div class="container detail-form pad-top">
  <div class="detail-form panel panel-default">

    <div class="module-getting-started top">
      <h2>stylefnf FAQs</h2>
    </div>

    <div class="ui stackable center aligned grid container" style="padding-top:40px;margin-bottom:0px;">
      <div class="fourteen wide column">
        <h1 class="ui large header" style="font-size:30px;">
          Here are answers to some <span style="color:#FF2D54;">Frequently Asked Questions</span> from our users.
        </h1>
        <div class="ui stackable center aligned vertically padded grid">
          <div class="ten wide column" style="font-size:18px;">
            <p>Click on one of the following categories to see more information.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="ui stackable center aligned grid container">
    	<div class="ui four column center aligned relaxed stackable grid container" style="font-size:20px" style="">
    		<div class="row">
    			<div class="column">
    				<span style="color:#FF2D54;"><strong><a style="color:#FF2D54; cursor:pointer" ng-click="scroller('Sellers')">Sellers</a></strong></span>
		    	</div>
		    	<div class="column">
		    		<span style="color:#FF2D54;"><strong><a style="color:#FF2D54; cursor:pointer" ng-click="scroller('Buyers')">Buyers</a></strong></span>
		    	</div>
		    	<div class="column">
		    		<span style="color:#FF2D54;"><strong><a style="color:#FF2D54; cursor:pointer" ng-click="scroller('Payments')">Payments</a></strong></span>
		    	</div>
		    	<div class="column">
		    		<span style="color:#FF2D54;"><strong><a style="color:#FF2D54; cursor:pointer" ng-click="scroller('Refunds/Returns')">Refunds/Returns</a></strong></span>
		    	</div>
<!-- 		    	<div class="column">
		    		<span style="color:#FF2D54;"><strong><a style="color:#FF2D54; cursor:pointer" ng-click="scroller('Reviews')">Reviews</a></strong></span>
		    	</div> -->
    		</div>
    	</div>
  	</div>

    <hr/>

    <div id="Sellers" class="ui stackable left aligned grid container">
      <div class="ui one column left aligned relaxed stackable grid container" style="font-size:20px; padding: 0px 0px 0px 60px">
        <div class="row">
          <div class="column">
            <span style="color:#FF2D54;"><strong>Sellers</strong></span>
            <div class="">
              <p style="font-size:15px; color:#2F4F4F; margin: 0 !important; padding: 0px 0px 0px 10px"><b>1. How do I delete my listings?</b></p>
              <p style="font-size:15px; color:#808080; padding: 0px 0px 0px 28px">First go to the listing you wish to delete. Right next to ‘Update My Listing’ there is a down arrow which will lead you to the option ‘Remove this Listing’. Once a listing is deleted, it cannot be recovered. </p>
              <p style="font-size:15px; color:#2F4F4F; margin: 0 !important; padding: 0px 0px 0px 10px"><b>2. Why has my listing been removed?</b></p>
              <p style="font-size:15px; color:#808080; padding: 0px 0px 0px 28px">There are two reasons for this: A) Your listing has been sold. Once your item has been successfully bought, it is moved to the 'Sold' section; check here first. B) It violates the conditions of Stylefnf or is inappropriate to even be listed. Contact our support for more details.</p>
              <p style="font-size:15px; color:#2F4F4F; margin: 0 !important; padding: 0px 0px 0px 10px"><b>3. Is it free to list?</b></p>
              <p style="font-size:15px; color:#808080; padding: 0px 0px 0px 28px">Absolutely! Listing on Stylefnf is free. Therefore, your first or 110th post will be of no charge. Once your item sells, however, you will be charged a small percentage (see payments guide) of the final price. </p>
              <p style="font-size:15px; color:#2F4F4F; margin: 0 !important; padding: 0px 0px 0px 10px"><b>4. Why do I have more than one offer on my item?</b></p>
              <p style="font-size:15px; color:#808080; padding: 0px 0px 0px 28px">Since we are a bid-based platform, some items will gain more interest than others. In this case, sellers have absolute authority to pick which offer suits them the best.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
        
    <hr>

    <div id="Buyers" class="ui stackable left aligned grid container">
      <div class="ui one column left aligned relaxed stackable grid container" style="font-size:20px; padding: 0px 0px 0px 60px">
        <div class="row">
          <div class="column">
            <span style="color:#FF2D54;"><strong>Buyers</strong></span>
            <div class="">
              <p style="font-size:15px; color:#2F4F4F; margin: 0 !important; padding: 0px 0px 0px 10px"><b>1. Why do we place bids?</b></p>
              <p style="font-size:15px; color:#808080; padding: 0px 0px 0px 28px">Stylefnf is a bid-based platform. Sellers, in a sense, auction out their items and choose the preferred bid. When that happens, you’ll be placed on hold.</p>
              <p style="font-size:15px; color:#2F4F4F; margin: 0 !important; padding: 0px 0px 0px 10px"><b>2. What does being "on HOLD" mean?</b></p>
              <p style="font-size:15px; color:#808080; padding: 0px 0px 0px 28px">This means that the item is technically yours but will be labelled as HOLD until payment is received. This is also to ensure that other buyers will still have a chance to purchase the item in case the original buyer is not able to. </p>
              <p style="font-size:15px; color:#2F4F4F; margin: 0 !important; padding: 0px 0px 0px 10px"><b>3. Can I cancel my offer?</b></p>
              <p style="font-size:15px; color:#808080; padding: 0px 0px 0px 28px">Yes! You are able to cancel the offer by going to the original listing page and clicking the red button that is labelled 'Cancel Offer.'</p>
            </div>
          </div>
        </div>
      </div>
    </div>
        
    <hr>

    <div id="Payments" class="ui stackable left aligned grid container">
      <div class="ui one column left aligned relaxed stackable grid container" style="font-size:20px; padding: 0px 0px 0px 60px">
        <div class="row">
          <div class="column">
            <span style="color:#FF2D54;"><strong>Payments</strong></span>
            <div class="">
              <p style="font-size:15px; color:#2F4F4F; margin: 0 !important; padding: 0px 0px 0px 10px"><b>1. When will I be charged?</b></p>
              <p style="font-size:15px; color:#808080; padding: 0px 0px 0px 28px">A small service fee will be automatically charged during the actual payment process; you’ll be charged the final total of the product when the seller has confirmed your bid and you are ready to pay.</p>
              <p style="font-size:15px; color:#2F4F4F; margin: 0 !important; padding: 0px 0px 0px 10px"><b>2. Will I get a purchase receipt/invoice?</b></p>
              <p style="font-size:15px; color:#808080; padding: 0px 0px 0px 28px">You will receive a receipt through the email address you have provided during your sign up. It will be sent to you automatically as soon as you complete your transaction.</p>
              <p style="font-size:15px; color:#2F4F4F; margin: 0 !important; padding: 0px 0px 0px 10px"><b>3. What are the service charges? Are they the same for both sellers and buyers?</b></p>
              <p style="font-size:15px; color:#808080; padding: 0px 0px 0px 28px">The service charges are different for both parties. For the seller, there is a service fee of 3% and for the buyer, there is a service fee of 6%.</p>
              <p style="font-size:15px; color:#2F4F4F; margin: 0 !important; padding: 0px 0px 0px 10px"><b>4. Why are there service charges?</b></p>
              <p style="font-size:15px; color:#808080; padding: 0px 0px 0px 28px">Service charges to the buyer are used to provide a better and more secure platform for our users to buy and sell; all the money goes into development and upgrades for improved features. Service charges to the seller are for covering the cost of credit card processing.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
        
    <hr>

    <div id="Refunds/Returns" class="ui stackable left aligned grid container">
      <div class="ui one column left aligned relaxed stackable grid container" style="font-size:20px; padding: 0px 0px 0px 60px">
        <div class="row">
          <div class="column">
            <span style="color:#FF2D54;"><strong>Refunds/Returns</strong></span>
            <div class="">
              <p style="font-size:15px; color:#2F4F4F; margin: 0 !important; padding: 0px 0px 0px 10px"><b>1. Should I put a return policy for my item?</b></p>
              <p style="font-size:15px; color:#808080; padding: 0px 0px 0px 28px">Stating your return policy is important. Let buyers know your policies on refunding and returning to help create a smoother transaction. If sellers state that they are open to returns/refunds, they enter the agreement that they are aware of issuing a refund for returned items and carry the responsibilities of fulfilling that agreement.</p>
              <p style="font-size:15px; color:#2F4F4F; margin: 0 !important; padding: 0px 0px 0px 10px"><b>2. I'm having issues with returning an item, what should I do?</b></p>
              <p style="font-size:15px; color:#808080; padding: 0px 0px 0px 28px">It is essential to have an agreement between both seller and buyer when returning an item. Mutual resolutions are encouraged by Stylefnf but if things are unable to work out (e.g. unable to get in touch with seller/buyer), contact our support system to open up a case.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
        
    <hr>
<!-- 
    <div id="Reviews" class="ui stackable left aligned grid container">
      <div class="ui one column left aligned relaxed stackable grid container" style="font-size:20px; padding: 0px 0px 0px 60px">
        <div class="row">
          <div class="column">
            <span style="color:#FF2D54;"><strong>Reviews</strong></span>
            <div class="" >
              <p style="font-size:15px; color:#2F4F4F; margin: 0 !important; padding: 0px 0px 0px 10px"><b>1. How do I do this?</b></p>
              <p style="font-size:15px; color:#808080; padding: 0px 0px 0px 28px">Answer #1 legooooooo</p>
              <p style="font-size:15px; color:#2F4F4F; margin: 0 !important; padding: 0px 0px 0px 10px"><b>2. I need help.</b></p>
              <p style="font-size:15px; color:#808080; padding: 0px 0px 0px 28px">Answer #2 hyypeeeee</p>
              <p style="font-size:15px; color:#2F4F4F; margin: 0 !important; padding: 0px 0px 0px 10px"><b>3. Is this right?</b></p>
              <p style="font-size:15px; color:#808080; padding: 0px 0px 0px 28px">Answer #3 send halp pls</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr> -->
	</div>
</div>