<view-title>Forgot Password - Stylefnf</view-title>


<div class="container detail-form">

  <div class="detail-form panel panel-default margin-top">

    <div class="module top" style="height:100px;">
      <h2>
        Forgot Password
      </h2>
    </div>

    <div class="ui stackable centered grid container" style="padding-top:40px;padding-bottom:15px;">

      <div class="six wide center aligned column">
        <div class="ui centered link card" style="border:none;">
          <a class="image" href="">
            <img src="{{$root.currentUser.profilePictures[0]}}">
          </a>
        </div>
      </div>

      <div class="eight wide column">
        <div class="account-container">
          <h1 class="ui dividing header">
            Reset Password
          </h1>

          <form name="passwordForm" class="ui center aligned form">
            <div class="sixteen wide field ng-class: { 'error' : passwordForm.password.$dirty && passwordForm.password.$invalid }">
              <label style="font-size:16px;line-height: 1.4285em;font-weight: 600;">New Password</label>
              <div class="ui left icon input massive account-info">
                <input required ng-change="isUpdated()" type="password" id="password" name="password" ng-model="currentUser.password" placeholder="Password" equals="{{currentUser.confirmPassword}}" required>
                <i class="key icon"></i>
                <div ng-messages="passwordForm.password.$error" style="color:red" role="alert">
                </div>
              </div>
            </div>
            <div class="sixteen wide field ng-class: { 'error' : passwordForm.password.$dirty && passwordForm.password.$invalid }">
              <label style="font-size:16px;line-height: 1.4285em;font-weight: 600;">Confirm New Password</label>
              <div class="ui left icon input massive account-info">
                <input required ng-change="isUpdated()" type="password" id="confirmPassword" name="confirmPassword" ng-model="currentUser.confirmPassword" placeholder="Confirm Password" equals="{{currentUser.confirmPassword}}" required>
                <i class="key icon"></i>
                <div ng-messages="passwordForm.confirmPassword.$error" style="color:red" role="alert">
                  <div ng-message="equals">Your passwords don't match.</div>
                </div>
              </div>
            </div>
            <div class="centered column">
              <button ng-disabled="!profileIsComplete()" ng-click="updateProfile()" class="ui green left icon button massive">
                <i class="save icon"></i>
                Save
              </button>
            </div>
          </form>
        </div>
    </div>

  </div>

</div>