<view-title>Forgot Password - Stylefnf</view-title>

<div class="container pad-top">

  <div class="ui column centered grid">

    <div class="ten wide centered column">
      <div class="panel text-center">
        <div class="panel-body">
          <h4 class="text-center"><i class="ion-key" style="color:red;"></i> Forgot Password</h4>
          <p>To reset your password, enter your school email address you used to sign up.</p>

          <form name="forgotPasswordForm" ng-submit="sendPassword()" novalidate>
            <div class="form-group has-feedback" ng-class="{ 'has-error': forgotPasswordForm.email.$invalid && forgotPasswordForm.email.$dirty }">
              <div class="seven wide centered column">
                <input server-error class="form-control input-lg centered" type="text" name="email" ng-model="email" placeholder="Email" required autofocus>
              </div>
              <span class="ion-at form-control-feedback"></span>
              <div class="help-block" ng-if="forgotPasswordForm.email.$dirty" ng-messages="forgotPasswordForm.email.$error">
                <div ng-message="required">Please enter your email</div>
                <div ng-message="server">{{errorMessage.email}}</div>
              </div>
            </div>

            <div class="ui huge buttons">
              <button class="ui positive button" ng-disabled="forgotPasswordForm.$invalid" type="submit"><i class="mail icon"></i> Send </button>
              <div class="or"></div>
              <button class="ui button" ng-click="goToLink('/')">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- <div ng-include="'views/footer.html'"></div> -->


