<view-title>Getting Started - Stylefnf</view-title>

<div class="container detail-form">

  <div class="detail-form panel panel-default margin-top">

    <div class="module-getting-started top">
      <h2>Getting Started</h2>
    </div>

    <div class="ui stackable center aligned grid container" style="padding-top:40px;padding-bottom:15px;">
      <div class="fourteen wide column">
        <h1 class="ui large header" style="font-size:35px;margin-bottom:45px;">
          1. Click <a href="#/signup" style="color:#FF2D54">Sign Up</a> & fill in your information.
        </h1>
        <div class="ui stackable center aligned vertically padded grid">
          <div>
            <img class="ui centered huge image bordered" src="../img/gs/gs-s2.png" data-action="zoom">
          </div>
          <div class="nine wide column" style="font-size:15px;">
            <p style="font-style:italic;">Stylefnf is growing everyday but is available for select colleges.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="ui stackable center aligned grid container" style="padding-top:40px;padding-bottom:15px;">
      <div class="fourteen wide column">
        <h1 class="ui large header" style="font-size:35px;margin-bottom:45px;">
          2. Check your email to activate your account.
        </h1>
        <div class="ui stackable center aligned vertically padded grid">
          <div>
            <img class="ui centered huge image bordered" src="../img/gs/gs-s3.png" data-action="zoom">
          </div>
          <div class="nine wide column" style="font-size:15px;">
            <p style="font-style:italic;">Be sure to check your school email..</p>
          </div>
        </div>
      </div>
    </div>

    <div class="ui stackable center aligned grid container" style="padding-top:40px;padding-bottom:15px;">
      <div class="fourteen wide column">
        <h1 class="ui large header" style="font-size:35px;margin-bottom:45px;">
          3. Add a profile picture and review.
        </h1>
        <div class="ui stackable center aligned vertically padded grid">
          <div>
            <img class="ui centered huge image bordered" src="../img/gs/gs-3.jpg" data-action="zoom">
          </div>
          <div class="nine wide column" style="font-size:15px;">
            <p style="font-style:italic;">Add in a description too.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="ui stackable center aligned grid container" style="padding-top:40px;padding-bottom:15px;">
      <div class="fourteen wide column">
        <h1 class="ui large header" style="font-size:35px;margin-bottom:45px;">
          4. Click to finish
        </h1>
        <div class="ui stackable center aligned vertically padded grid">
          <div>
            <img class="ui centered huge image bordered" src="../img/gs/gs-4.jpg" data-action="zoom">
          </div>
          <div class="nine wide column" style="font-size:15px;">
            <p style="font-style:italic;">Happy hunting!</p>
          </div>
        </div>
      </div>
    </div>

    <div class="panel-body">

    </div>

  </div>

</div>