<view-title>Help - Stylefnf</view-title>

<div class="container detail-form pad-top">

  <div class="detail-form panel panel-default">

    <div class="module top">
      <h2>stylefnf Basics</h2>
    </div>

    <div class="ui stackable center aligned grid container" style="padding-top:40px;margin-bottom:25px;">
      <div class="fourteen wide column">
        <h1 class="ui large header" style="font-size:35px;">
          <span style="color:#FF2D54;">Buy, sell, discover</span> on campus.
        </h1>
        <div class="ui stackable center aligned vertically padded grid">
          <div class="nine wide column" style="font-size:15px;">
            <p>Stylefnf is an online marketplace that connects students through social networks at colleges. Now available at:</p>
          </div>
        </div>
      </div>
    </div>

    <div class="feature alternate ui stripe vertical">
        <div class="ui five column center aligned relaxed stackable grid container">
          <div class="row">
            <div class="column hover-help" ng-click="goToLink('getting-started')">
              <div class="column">
                <img src="img/UofT_logo.jpg" alt="University of Toronto" style="height:100px;margin-bottom: 20px;">
              </div>
              <p style="text-align:center;font-size:14px;">Register using your <b>@mail.utoronto.ca</b> email.</p>
            </div>
            <div class="column hover-help" ng-click="goToLink('getting-started')">
              <div class="column">
                <img src="img/OCAD_Logo.png" alt="OCAD" style="height:100px;opacity:.5;margin-bottom:20px;">
              </div>
              <p style="text-align:center;font-size:14px;color:#FF2D54;"><b>Launching soon!</b></p>
            </div>
            <div class="column hover-help" ng-click="goToLink('getting-started')">
              <div class="column">
                <img src="img/RU_logo.png" alt="Ryerson University" style="height:100px;opacity:.5;margin-bottom:20px;">
              </div>
              <p style="text-align:center;font-size:14px;color:#FF2D54;"><b>Launching soon!</b></p>
            </div>
            <div class="column hover-help" ng-click="goToLink('getting-started')">
              <div class="column">
                <img src="img/george-brown.png" alt="George Brown" style="height:100px;opacity:.5;margin-bottom:20px;">
              </div>
              <p style="text-align:center;font-size:14px;color:#FF2D54;"><b>Launching soon!</b></p>
            </div>
          </div>
        </div>
    </div>

    <div class="panel-body">

    <hr class="featurette-divider">

    <div class="ui stackable center aligned grid container">
      <div class="fourteen wide column">
        <h1 class="ui large header" style="font-size:35px;">
           <span style="">Guides</span>
        </h1>
        <div class="ui stackable center aligned vertically padded grid">
          <div class="nine wide column" style="font-size:15px;">
            <p>Check out some of the way you can interact:</p>
          </div>
        </div>
      </div>
    </div>

      <div class="feature alternate ui stripe vertical">
        <div class="ui three column center aligned relaxed stackable grid container">
          <div class="row">
            <div class="column hover-help" ng-click="goToLink('getting-started')">
              <h2 class="ui icon header help-title">
                <i class="add circle icon huge"></i>
                Getting started
              </h2>
              <p>
                New to Stylefnf? Here's how you can get started.
              </p>
            </div>
            <div class="column hover-help" ng-click="goToLink('how-to-list')">
              <h2 class="ui icon header help-title">
                <i class="ion-tshirt icon huge" style=""></i>
                How to List
              </h2>
              <p>
                Itching to start selling? Learn how to list.
              </p>
            </div>
            <div class="column hover-help" ng-click="goToLink('how-to-buy')">
              <h2 class="ui icon header help-title">
                <i class="cart icon huge"></i>
                How to Buy
              </h2>
              <p>Ready to make an offer? Learn how to buy</em>.</p>
              <!-- <p>Coming Soon!</p> -->
            </div>
          </div>
        </div>
      </div>

      <div class="feature alternate ui stripe vertical">
        <div class="ui three column center aligned relaxed stackable grid container">
          <div class="row">
            <div class="column hover-help" ng-click="goToLink('trust-and-safety')">
              <h2 class="ui icon header help-title">
                <i class="users icon huge" style=""></i>
                Trust & Safety 
              </h2>
              <p>
                Learn some tips and tricks to stay safe!
              </p>
            </div>
            <div class="column hover-help" ng-click="goToLink('payments-and-getting-paid')">
              <h2 class="ui icon header help-title">
                <i class="paypal icon huge"></i>
                Payments & Getting Paid
              </h2>
              <p>
                Check out Stylefnf's online payment system.
              </p>
            </div>
            <div class="column hover-help" ng-click="goToLink('refunds-and-returns')">
              <h2 class="ui icon header help-title">
                <i class="history icon huge"></i>
                Refunds & Returns
              </h2>
              <p>Upset with an item? Check out our policy.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="feature alternate ui stripe vertical">
        <div class="ui three column center aligned relaxed stackable grid container">
          <div class="row">
            <div class="column hover-help">
              <h2 class="ui icon header help-title">
                <i class="thumbs outline up icon huge"></i>
                Ratings & Reviews
              </h2>
              <!-- <p>Where is Stylefnf available?</p> -->
              <p>Coming Soon!</p>
            </div>
            <div class="column hover-help" ng-click="goToLink('FAQs')">
              <h2 class="ui icon header help-title">
                <i class="question icon huge" style=""></i>
                FAQs
              </h2>
              <p>Here are some questions that come up often.</p>
            </div>
            <div class="column hover-help" ng-click="goToLink('aboutUs')">
              <h2 class="ui icon header help-title">
                <img class="ui icon image" src="../img/stylefnf3.png" style="height:55px;margin-top: 16px;">
                About Us
              </h2>
              <!-- <p>Learn more about the team behind the website.</p> -->
              <p>Learn more about Stylefnf and meet the team!</p>
            </div>
          </div>
        </div>
      </div>

      <hr class="featurette-divider">

<!--       <div class="ui container">
        <h3 style="margin-bottom:30px;"><b>Company</b></h3>
      </div> -->

      <div class="feature alternate ui stripe vertical segment">
        <div class="ui three column center aligned divided relaxed stackable grid container">
          <div class="row">
            <div class="column">
              <h2 class="ui header" style="display:inline-block;font-size:23px;">
                <i class="at icon"></i>
                <div class="content">
                  Contact Us
                </div>
              </h2>
              <p style="font-size:15px;">
                Having trouble? We'd like to help!
              </p>
              <!-- <a href="#/get-in-touch" class="ui primary huge button">Get in touch!</a> -->
              <ul class="contact-div">
                <li style="text-decoration:none;text-align:center;"><a href="mailto:support@stylefnf.com">support@stylefnf.com</a></li>
              </ul>
            </div>
            <div class="column">
              <h2 class="ui header" style="display:inline-block;font-size:23px;">
                <i class="newspaper icon"></i>
                <div class="content">
                  Press
                </div>
              </h2>
              <p style="font-size:15px;">
                Here's what people are saying about us.
              </p>
              <!-- <a href="#/press" class="ui primary huge button">Press Room</a> -->
              <a href="" class="ui huge button">Coming Soon</a>
            </div>
            <div class="column">
              <h2 class="ui header" style="display:inline-block;font-size:23px;">
                <i class="lab icon"></i>
                <div class="content">
                  Jobs
                </div>
              </h2>
              <p style="font-size:15px;">
                Come join us!
              </p>
              <a href="#/jobs" class="ui primary huge button">Check out the jobs</a>
              <!-- <a href="" class="ui disabled huge button">Coming Soon</a> -->
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>