<view-title>How to Buy - Stylefnf</view-title>

<div class="container detail-form">

  <div class="detail-form panel panel-default margin-top">

    <div class="module-getting-started top">
      <h2>How to Buy</h2>
    </div>

    <div class="ui stackable center aligned grid container" style="padding-top:40px;padding-bottom:15px;">
      <div class="fourteen wide column">
        <h1 class="ui large header" style="font-size:35px;margin-bottom:45px;">
          <span style="color:#FF2D54">Step One</span> - Discover your item.
        </h1>
        <div class="ui stackable center aligned vertically padded grid">
          <div>
            <img class="ui centered huge image bordered" src="../img/BuyingStep1.jpg" data-action="zoom">
          </div>
          <div class="eleven wide column" style="font-size:15px;">
            <p style="text-align:left;font-style:italic;padding-top: 3%;">Buy, locate and discover by looking through the categories to find exactly what you’re looking for. You can also use the search bar to narrow down what you need.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="ui stackable center aligned grid container" style="padding-top:40px;padding-bottom:15px;">
      <div class="fourteen wide column">
        <h1 class="ui large header" style="font-size:35px;margin-bottom:45px;">
          <span style="color:#FF2D54">Step Two</span> - Read the Description.
        </h1>
        <div class="ui stackable center aligned vertically padded grid">
          <div>
            <img class="ui centered huge image bordered" src="../img/BuyingStep2.jpg" data-action="zoom">
          </div>
          <div class="eleven wide column" style="font-size:15px;">
            <p style="text-align:left;font-style:italic;padding-top: 3%;"> Once you’ve located your desired item, make sure to check out the description in the About section to see how suitable it is for you.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="ui stackable center aligned grid container" style="padding-top:40px;padding-bottom:15px;">
      <div class="fourteen wide column">
        <h1 class="ui large header" style="font-size:35px;margin-bottom:45px;">
          <span style="color:#FF2D54">Step Three</span> - Make your offer.
        </h1>
        <div class="ui stackable center aligned vertically padded grid" style="text-align:center;">
          <div>
            <img class="ui centered huge image bordered" src="../img/BuyingStep3.jpg" data-action="zoom">
          </div>
          <div class="eleven wide column" style="font-size:15px;">
            <p style="text-align:left;font-style:italic;padding-top: 3%;">Ready to purchase? You have to make a bid first and let seller know that you’re interested. Press the 'Place Bid' button and a pop-up shall appear. Type in the amount you would like to bid and click ‘Place My Offer’.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="ui stackable center aligned grid container" style="padding-top:40px;padding-bottom:15px;">
      <div class="fourteen wide column">
        <h1 class="ui large header" style="font-size:35px;margin-bottom:45px;">
          <span style="color:#FF2D54">Step Four</span> - Confirm your offer.
        </h1>
        <div class="ui stackable center aligned vertically padded grid" style="text-align:center;">
          <div>
            <img class="ui centered huge image bordered" src="../img/BuyingStep4.jpg" data-action="zoom">
          </div>
          <div class="eleven wide column" style="font-size:15px;">
            <p style="text-align:left;font-style:italic;padding-top: 3%;">Congratulations! You placed an offer! If you made a mistake or want to cancel it for whatever reason, don't worry, you can. If the seller accepts your offer, you can meetup to pick up your item and pay. Check out the 'Payments & Getting Paid' tutorial for more information!</p>
          </div>
        </div>
      </div>
    </div>

    <div class="panel-body">

    </div>

  </div>

</div>