<view-title>Jobs - Stylefnf</view-title>

<div class="container detail-form">

  <div class="detail-form panel panel-default margin-top">

    <div class="module-getting-started top">
      <h2>Jobs</h2>
    </div>

    <div class="ui stackable center aligned grid container" style="padding-top:40px;padding-bottom:15px;">
      <div class="ten wide column">
<!--         <h1 class="ui large header" style="font-size:35px;margin-bottom:45px;">
            <div class="content">
              Software Engineer
            <div class="sub header">Toronto, Canada | Engineering | Summer Full Time</div>
          </div>
        </h1>
        <div class="ui stackable left aligned vertically padded grid" style="text-align: left;font-size: 17px;">
          <div class="ui bulleted list">
            <div class="item">Student at the University of Toronto</div>
            <div class="item">Comfortable coding in at least 1 programming language</div>
            <div class="item">Able to learn Javascript (we'll teach you)</div>
            <div class="item">
              <div class="header">Our Tech Stack</div>
              <div class="list">
                <div class="item">MongoDB</div>
                <div class="item">Express.js</div>
                <div class="item">Angular.js</div>
                <div class="item">Node.js</div>
                <div class="item">Socket.io</div>
              </div>
            </div>
            <div class="item">This will be a paid position</div>
            <div class="item">Preferred 2nd year+ in Computer Engineering or Electrical Engineering (but it's not a big deal)</div>
          </div>
        </div> -->
<!--         <h1 class="ui large header" style="font-size:35px;margin-bottom:45px;">
            <div class="content">
              Community Manager
            <div class="sub header">Toronto, Canada | Marketing | Summer Full Time</div>
          </div>
        </h1>
        <div class="ui stackable left aligned vertically padded grid" style="text-align: left;font-size: 17px;">
          <div class="ui bulleted list">
            <div class="item">Develop a marketing strategy to launch Stylefnf on multiple campuses </div>
            <div class="item">Raise brand awareness through on-campus tabling and events </div>
            <div class="item">Build & execute the content building and development strategy to engage users  </div>
            <div class="item">
              <div class="header">Requirements</div>
              <div class="list">
                <div class="item">Available on campus during summer 2016 </div>
                <div class="item">Available to work at least 15 hours/week</div>
              </div>
            </div>
            <div class="item">Preferred 2nd year+ in Sociology or Psychology (but it's not a big deal)</div>
          </div>
        </div>
          <hr class="soften">
          <h1 class="ui blue header" style="margin-bottom:25px;">        
            <div class="content">
                How to Apply
            </div>
          </h1>
        <div class="ui stackable left aligned vertically padded grid" style="text-align: left;font-size: 17px;">
          <div class="ui bulleted list">
            <div class="item">
              <div class="header" style="">Send to: <a href="mailto:jobs@stylefnf.com">jobs@stylefnf.com</a></div>
              <div class="list">
                <div class="item">Subject: Community Manager</div>
                <div class="item">Resume (no cover letter please)</div>
                <div class="item">Short blurb about you</div>
                <div class="item">Link to funny thing you've seen on the internet</div>
              </div>
            </div>
          </div>
        </div> -->
        <h1 class="ui large header" style="font-size:25px;margin-bottom:45px;">
            <div class="content">
              Unfortunately, we're not hiring at moment, but if you have feedback about Stylefnf, we'd love to hear it! Contact us at: <a href="mailto:support@stylefnf.com" style="color:#FF2D54;">support@stylefnf.com</a>
            <!-- <div class="sub header">Or just send your resume to jobs@stylefnf.com as a backup.</div> -->
          </div>
        </h1>
      </div>
    </div>

    <div class="panel-body">

    </div>

  </div>

</div>