<div id="search-results">
  <div>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="ng-class:{'container':isAuthenticated()}">
        <div class="navbar-collapse collapse" collapse="isCollapsed">
          <ul class="nav navbar-nav" style="height:63.5px">
            <li class="navbar-left" style="">
              <a class="navbar-brand" href="#/">
                <img style="max-width:100px;margin-right:20px;margin-top:-4px;" src="../../img/stylefnf3.png">
              </a>
            </li>
            
            <li class="navbar-right"><a href=""><span class="header-button sin">Launching Nov 2015</span></a></li>
          </ul>
        </div>
    </div>
    </nav>

  </div>

</div>