<view-title>Payments + Getting Paid - Stylefnf</view-title>
<div class="container detail-form pad-top">
  <div class="detail-form panel panel-default">

    <div class="module-getting-started top">
      <h2>stylefnf Payments + Getting Paid</h2>
    </div>

    <div class="ui stackable center aligned grid container" style="padding-top:40px;margin-bottom:0px;">
      <div class="fourteen wide column">
        <h1 class="ui large header" style="font-size:26px;">
          Stylefnf’s <span style="color:#FF2D54;">payment system</span> is designed to make transferring money between sellers and buyers as simple and reliable as possible.
        </h1>
      </div>
    </div>

    <hr>

    <div class="ui stackable center aligned vertically padded grid" style="padding-top:10px;padding-bottom:15px;">
      <div class="twelve wide column">
        <h1 class="ui large header" style="font-size:22px;margin-bottom:0px;">
          <span style="color:#FF2D54">Step 1. </span>Buyers pay Stylefnf when they purchase an item.
        </h1>
        <h1 class="ui large header" style="font-size:22px;margin-bottom:45px;">
          <span style="color:#FF2D54">Step 2. </span>Stylefnf releases the money once the item has been transferred from the seller to the buyers (buyers simply need to press the <span style="color:#FF2D54">Pay</span> button). 
        </h1>

        <div class="ui stackable center aligned vertically padded grid">
          <div>
            <img class="ui centered huge image bordered" src="../img/payments.png" data-action="zoom" style="margin-bottom:20px">
          </div>
          <div class="fourteen wide column" style="font-size:15px;">
            <h1 class="ui large header" style="font-size:22px;margin-bottom:0px;">
              Using Stylefnf’s payment system is not required to make a purchase but it helps to ensure that both parties are <span style="color:#FF2D54">protected </span>. The various forms of payment that are accepted are credit, debit, cash, and Paypal.
            </h1>
            <p style="text-align:center;font-style:italic;padding-top: 3%;">Stylefnf automatically includes a small service fee in each transaction.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>