<!-- <view-title>How to List - Stylefnf</view-title>

<div class="container detail-form">

  <div class="detail-form panel panel-default margin-top">

    <div class="module-getting-started top">
      <h2>How to List</h2>
    </div>

    <div class="ui stackable center aligned grid container" style="padding-top:40px;padding-bottom:15px;">
      <div class="fourteen wide column">
        <h1 class="ui large header" style="font-size:35px;margin-bottom:45px;">
          1. Click <span style="color:#FF2D54">List An Item</span> & choose the listing type.
        </h1>
        <div class="ui stackable center aligned vertically padded grid">
          <div>
            <img class="ui centered huge image bordered" src="../img/ListingStep1.jpg" data-action="zoom">
          </div>
          <div class="nine wide column" style="font-size:15px;">
            <p style="font-style:italic;">There are various categories for you to choose from.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="ui stackable center aligned grid container" style="padding-top:40px;padding-bottom:15px;">
      <div class="fourteen wide column">
        <h1 class="ui large header" style="font-size:35px;margin-bottom:45px;">
          2. Create your listing by adding photos and details.
        </h1>
        <div class="ui stackable center aligned vertically padded grid">
          <div>
            <img class="ui centered huge image bordered" src="../img/ListingStep2.jpg" data-action="zoom">
          </div>
          <div class="nine wide column" style="font-size:15px;">
            <p style="font-style:italic;">Make your listing more attractive to buyers by adding high-quality pictures and specific details. The more information, the better!</p>
          </div>
        </div>
      </div>
    </div>

    <div class="ui stackable center aligned grid container" style="padding-top:40px;padding-bottom:15px;">
      <div class="fourteen wide column">
        <h1 class="ui large header" style="font-size:35px;margin-bottom:45px;">
          3. Make sure you've added the required fields <span style="color:#FF2D54">(in deep red)</span>.
        </h1>
        <div class="ui stackable center aligned vertically padded grid">
          <div>
            <img class="ui centered huge image bordered" src="../img/ListingStep3.jpg" data-action="zoom">
          </div>
          <div class="nine wide column" style="font-size:15px;">
            <p style="font-style:italic;">Fill in the About and Location section to be more accurate. To make your life easier, we even provided a U of T button under the location tab!</p>
          </div>
        </div>
      </div>
    </div>

    <div class="ui stackable center aligned grid container" style="padding-top:40px;padding-bottom:15px;">
      <div class="fourteen wide column">
        <h1 class="ui large header" style="font-size:35px;margin-bottom:45px;">
          4. Ta Da! Your listing is now online.
        </h1>
        <div class="ui stackable center aligned vertically padded grid">
          <div>
            <img class="ui centered huge image bordered" src="../img/ListingStep4.jpg" data-action="zoom">
          </div>
          <div class="nine wide column" style="font-size:15px;">
            <p style="font-style:italic;">And you're done. Happy listing!</p>
          </div>
        </div>
      </div>
    </div>

    <div class="panel-body">

    </div>

  </div>

</div> -->