<view-title>Refunds + Returns - Stylefnf</view-title>
<div class="container detail-form pad-top">
  <div class="detail-form panel panel-default">

    <div class="module-getting-started top">
      <h2>stylefnf Refunds + Returns</h2>
    </div>

    <div class="ui stackable center aligned grid container" style="padding-top:40px;margin-bottom:0px;">
      <div class="fourteen wide column">
        <h1 class="ui large header" style="font-size:20px;">
          Whether you can get a refund/return or not is completely <span style="color:#FF2D54;">dependent on the seller.</span> They must have a return policy stated for their listing. This is an external issue and needs to be resolved through contacting the seller. It is recommended that you connect with the seller using our messaging service and reach an agreement.
        </h1>
        <h1 class="ui large header" style="font-size:20px; font-style:italic">
          Our company does not carry any responsibilities regarding refund/return policies.
        </h1>
      </div>
    </div>

    <hr>

    <div class="ui stackable left aligned grid container">
      <div class="ui one column left aligned relaxed stackable grid container" style="font-size:19px; padding: 0px 0px 5px 60px">
        <div class="row">
          <div class="column">
            <b><span style="color:#FF2D54;">Return Policy: </b></span>There are three possible return policies the seller has to choose from.
            <div class="">
              <p style="font-size:18px; margin: 0 !important; padding: 0px 0px 0px 20px"><b>1. No Returns</b></p>
              <p style="font-size:16px; padding: 0px 0px 0px 50px">As the name implies, once the person has paid (either online or during meetup), there is no turning back.</p>
              <p style="font-size:18px; margin: 0 !important; padding: 0px 0px 0px 20px"><b>2. Conditional Return</b></p>
              <p style="font-size:16px; margin: 0 !important; padding: 0px 0px 10px 50px"><b>For buyers:</b> if the item has some major flaws undescribed in the description, the buyer can return the product within 3 days of purchase and receive full refund as enforced by our employees. Examples of the situation described above: a math textbook with many pages torn, a sofa with a very large coffee stain, or a cell phone that randomly shuts down.</p>
              <p style="font-size:16px; padding: 0px 0px 0px 50px"><b>For sellers:</b> if the buyer returns the item in a damaged condition, you have the right to not accept the return. This will be enforced by our employees as well.</p>
              <p style="font-size:18px; margin: 0 !important; padding: 0px 0px 0px 20px"><b>3. Return Within 24 Hours or 3 Days</b></p>
              <p style="font-size:16px; padding: 0px 0px 0px 50px">If the item is in the same condition as shown in the product images, the buyer can return and receive full refund of the purchased item within the given amount of time after purchase.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="ui stackable center aligned grid container" style="padding-top:40px;margin-bottom:0px;">
      <div class="fourteen wide column">
        <h1 class="ui large header" style="font-size:20px;">
          In case of a dispute regarding returns/refunds, please <span style="color:#FF2D54;">consult one of our employees.</span> In the worst case scenario, we will ban sellers who will not comply with their chosen return policies and we will ban buyers who try to misuse the return policy system.
        </h1>
      </div>
    </div>

    <hr>
  </div>
</div>