<view-title>Trust + Safety - Stylefnf</view-title>
<div class="container detail-form pad-top">
  <div class="detail-form panel panel-default">

    <div class="module-getting-started top">
      <h2>stylefnf Trust + Safety</h2>
    </div>

    <div id="benefits">
      <div class="container">
        <div class="ui stackable center aligned grid container" style="padding-top:40px;margin-bottom:0px;">
          <div class="fourteen wide column">
            <h1 class="ui large header" style="font-size:30px;">
            Stylefnf considers <span style="color:#FF2D54;">Trust and Safety </span> to be the number one priority for its users. Check out these tips to stay safe!
            </h1>
            <br>
          </div>
        </div>
      </div>

      <div class="sixteen columns">
        <div class="ui four column center aligned relaxed stackable grid container">
          <div class="row">
            <div class="column"> 
              <img src="../img/attendance.png" style="width:128px; height:128px; padding-left:10px">
              <h2 class="ui huge icon header" style="font-weight:bold;">
                Verified ID
              </h2>
              <p style="font-size: 14px;line-height: 1.6;flex: 1 0 auto;margin: 0.5em 0em 2.5em;">One of our features is to guarantee the safety of our users by ensuring verification through UTOR-ID email. Stylefnf’s student-based marketplace is strictly enforced to encompass only exclusive campuses.</p>
            </div>
            <div class="column">
              <img src="../img/rating.png" style="width:128px; height:128px;">
              <h2 class="ui huge icon header" style="font-weight:bold;">
                Profile & Reviews
              </h2>
              <p style="font-size: 14px;line-height: 1.6;flex: 1 0 auto;margin: 0.5em 0em 2.5em;">Get to know your seller and buyer through profiles and consumer based reviews. Our website provides a rating system that will offer extra security through customer feedback. Action will be taken for any fraudulent activity or misrepresentation of products or users.</p>
            </div>
            <div class="column">
              <img src="../img/conversation.png" style="width:128px; height:128px;">
              <h2 class="ui huge icon header" style="font-weight:bold;">
                Community
              </h2>
              <p style="font-size: 14px;line-height: 1.6;flex: 1 0 auto;margin: 0.5em 0em 2.5em;">We pride ourselves on an interactive and secure platform founded on trust and belief. We strongly encourage a U of T community solely based on students who share common interests. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>
</div>