<md-dialog ng-controller="detailController">
  <form name="acceptOfferForm">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Accept Offer</h2>
      <span flex></span>
      <md-button class="md-icon-button text-danger" ng-click="answer('not applicable')">
        <md-icon md-svg-src="../../img/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
  <md-content layout-padding>
    <div class="ui two column padded grid" style="width: 50vw;">
      <div class="ten wide column">

        <img class="ui centered small image" ng-src="{{$root.viewOffer.poster.profilePictures[0]}}">
        <table class="ui celled table">
          <tbody>
            <tr ng-if="isFashion() || isHomeFurniture()">
              <td class="two wide column">Size</td>
              <td></td>
            </tr>
            <tr>
              <td>Condition</td>
              <td>{{ showCondition() }}</td>
            </tr>
            <tr>
              <td>Return Policy</td>
              <td>{{ showReturn() }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="six wide column">
        <table class="ui collapsing celled large table" style="margin: 0 auto;">
          <thead>
            <tr style="margin: 0 auto;text-align:center;"><th colspan="3">
              Payout
            </th>
          </tr></thead>
          <tbody>
            <tr>
              <td>Bid</td>
              <td>${{$root.viewOffer.total.toFixed(2)}}</td>
            </tr>
            <tr>
              <td>
                Service Fee 
                <i class="info circle link icon"><md-tooltip md-direction="top" style="font-size:13px;">This helps us run our platform and offer services like buyer protection.</md-tooltip></i>
                </td>
              <td>-${{$root.viewOffer.sellerFee.toFixed(2)}}</td>
            </tr>
            <tr style="font-weight:bold;">
              <td>Payout</td>
              <td>${{ getTotal($root.viewOffer.total, $root.viewOffer.serviceFee, 'seller').toFixed(2) }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </md-content>
  </md-dialog-content>
    <!-- Cancel and Post Buttons -->
    <div class="md-actions" layout="row">
      <md-button href="#/about" target="_blank">
        <a href="#"><i class="ion-information-circled"></i> </a>
        HELP
      </md-button>
      <span flex></span>
      <md-button ng-if="isAvailable(selectedPost)" ng-click="acceptOffer($root.viewOffer)" type="submit" ng-disabled="acceptOfferForm.$invalid" class="md-raised md-primary" layout layout-align="center end">Accept ${{$root.viewOffer.total.toFixed(2)}} offer</md-button>
    </div>
  </form>
</md-dialog>

